# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore



# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
wp-admin/
wp-includes/

wp-content/index.php
wp-content/languages/
wp-content/wflogs/
wp-content/themes/
wp-content/wp-rocket-config/
wp-content/uploads/
wp-content/upgrade/
wp-content/mu-plugins/
wp-content/plugins/*
!wp-content/plugins/adress-search-wc-checkout

# Files
/.htaccess
/.php-ini
/.php-version
/index.php
/kint.phar
/licens.html
/license.txt
/maintenance.html
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/wp-mail.php
/xmlrpc.php



*.log
